.App {
  min-height: 100vh;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  margin-bottom: 20px;
  font-size: 3rem;
}

.App-header p {
  font-size: 1.5rem;
  color: #61dafb;
}
